.display-profile-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 20px;
}

.profile-picture-section {
    text-align: left;
}

.profile-picture {
    max-width: 10em;
    height: auto;
    border-radius: 50%;
}

.profile-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px black solid;
}

.profile-username {
    text-align: left;
    margin-bottom: 15px;
    display: inline;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 1em;
    margin: 0;
}

.music-tags-dropdown {
    display: flex;
    flex-direction: column;
    width: 200px;   
}

.selected-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tag {
    display: flex;
    align-items: center;
    background-color: #000000; 
    padding: 2px;
    margin: 2px;
    border-radius: 6px;
    font-size: 15px;
    color: #ffffff;
  }
  
  .tag span {
    white-space: nowrap;
    margin-right: 5px;
  }
  
  .tag button {
    background: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    padding: 2px;
  }