.display-profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.profile-picture-section {
    text-align: left;
}

.profile-picture {
    max-width: 10em;
    height: auto;
    border-radius: 50%;
}

.profile-details-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-portfolio-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px black solid;
}

.profile-username {
    text-align: left;
    margin-bottom: 15px;
    display: inline;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 1em;
    margin: 0;
}